/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.container {
  margin-left: 0px;
  margin-bottom: 30px;
}

html {
  background: gainsboro;
}

#search-bar-id {
  display: flex;
  justify-content: flex-end;
}

#root-constructables-nav {
  margin-right: 100px;
  font-size: 40px;
  margin-left: 20px;
  font: 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 3px 2px 1px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
  font-weight: bold;
  border: 2px;
  border-color: white;
}

.root-catchphrase {
  margin-left: 20px;
  position: relative;
  top: 15px;
  font-family: 'Lobster';
  color: black;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  font-weight: bold;
  font-size: 30px;
}

.carousel-caption {
  top: 30%;
  color: white;
  font-family: 'Dancing Script', Georgia, Times, serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0);
}

#carousel-wearable {
  font-size: 150px;
  font-weight: bold;
}
#carousel-space {
  font-size: 150px;
  font-weight: bold;
}
#carousel-renewable {
  font-size: 150px;
  font-weight: bold;
}

#carousel-img1 {
  width: 100%;
  height: 1000px;
  /*margin-bottom: 50px;*/
}

#carousel-img2 {
  width: 100%;
  height: 1000px;
  /*margin-bottom: 50px;*/
}

#carousel-img3 {
  width: 100%;
  height: 1000px;
  /*margin-bottom: 50px;*/
}

#carousel-text1 {
  text-decoration: underline;
  color: green;
}
#carousel-text2 {
  text-decoration: underline;
  color: red;
}
#carousel-text3 {
  text-decoration: underline;
  color: blue;
  /*position: relative;*/
  /*top: 80px;
  font-size: 120px;*/
}
/*#root-other-nav {
  padding: 100px;
}*/

.proj-show-div {
  display: block;
}

.carousel-thing {
  position: relative;
  bottom: 64px;
}

.logout-button {
  position: relative;
  bottom: 36px;
}

div.root-container {
  background: gainsboro;
}

#nav-item-li-2 {
  width: 97px;
  border-right: 1px solid #aaa;
  position: relative;
  top: 14px;
}

#nav-item-li-3 {
  width: 93px;
  border-right: 1px solid #aaa;
  position: relative;
  top: 14px;
}

#nav-item-li-4 {
  width: 115px;
  border-right: 1px solid #aaa;
  position: relative;
  top: 14px;
}

#nav-item-li-5 {
  position: relative;
  top: 14px;
}

div#search-bar-id {
  display: flex;
  text-align: center;
  justify-content: center;
}
#search-input {
  width: 600px;
  height: 100px;
  font-size: 50px;
  border-radius: 60px;
}

div.navbar-form {
  margin-left: auto;
  margin-right: 24.5%;
}

.div-proj-form {
    /*background: linear-gradient(to bottom, #1D4350 0%, #A43931 100%);*/
    background: url("http://res.cloudinary.com/dllnnnotc/image/upload/c_fit,h_790,w_970/v1469836551/wood-wallpaper-16_lh1fa9.jpg");
    border-radius: 0px;
}

.inner-div-form {
  /*background: linear-gradient(to bottom, #eacda3 0%, #d6ae7b 100%);*/
  background: gainsboro;
}


div.inner-masonry-div {
  position: relative;
  bottom: 128px;
}

.sign-up-btn {
  border-right: 1px solid;
  border-left: 1px solid;
  position: relative;
  top: 4.3px;
  font-size: 30px;
}

.login-btn {
  border-right: 1px solid;
  position: relative;
  top: 4.3px;
  font-size: 30px
}

a {
  top: 0px;
}

a#root-constructables-nav {
  position: relative;
  top: 13px;
}


ul.nav-signin.nav {
  position: relative;
  right: 50%;
}

.proj-index-item-body {
  background: url("http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_460,w_898/v1470164573/iblesrobots_nquihv.png")
}

a#nav-item-li-2 {
  left: 130px;
  border-left: 1px solid;
  position: relative;
}

a#nav-item-li-3 {
  left: 130px;
  position: relative;
}

a#nav-item-li-4 {
  left: 130px;
  position: relative;
}

a#nav-item-li-5 {
  left: 130px;
  position: relative;
  border-right: 1px solid;
}

.root-navbar-img {
  top: -18px;
}

.constructables-p {
  left: 86px;
  top: -114px;
}

form.login-form-comp {
  background: url("http://res.cloudinary.com/dllnnnotc/image/upload/c_scale,h_947,w_2130/v1470171030/maxresdefault_kzm01o.jpg")
}

.login-form-comp > * {
  padding: 15px;
  /*margin: 15px; */
}

button.submit-button.btn.btn-default {
  padding: 11px;
  width: 96px;
  border: 4px solid;
}

button.logout-button.btn.btn-default {
  position: relative;
  bottom: 22px;
  right: 70px;
  width: 91px;
  height: 43px;
  z-index: 1px;
}

.carousel-control.right {
  background-image: none;
}
.carousel-control.left {
  background-image: none;
}

img.navbar-catchphrase {
    position: relative;
    left: 935px;
    bottom: 49px;
}

nav#main-nav {
  height: 79px;
}
