
// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.proj-form-fields {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.proj-form-fields li {
    padding: 12px;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.proj-form-fields label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.proj-form-fields .field-select{
    width: 500px;
    text-align: center;
}
.proj-form-fields .field-textarea{
    height: 100px;
}

.proj-form-fields .required{
    color:red;
}

.image-class {
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.additional-field {
  // padding: 30px;
  // background-color: sky
}

.show-description {
  font-size: 20px;
  line-height: 1.25em;
  text-indent: -1em;
  text-align: left;
  // padding: 30px;
  word-wrap: break-word;
}

#nav-item-li-2 {
  width: 110px
}

#nav-item-li-3 {
  width: 120px;
}

.navbar-default {
  display: flex;
  justify-content: flex-start;
}

.div-proj-form {
  // background-color: white;
  font-weight: bold;
}
.step-index-item {
  font-size: 40px;
  font-weight: 600px;
  display: flex;
  justify-content: flex-start;
}

.proj-image.extra-big {
  width: 291px;
  height: 330px;
  margin-bottom: 13px;
  border: 18px solid;
  border-radius: 30px;
}

.proj-form-fields input[type=text],
textarea,
select{
    box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    outline: none;
}
.proj-form-fields input[type=text]:focus,
.proj-form-fields textarea:focus,
.proj-form-fields select:focus{
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.proj-form-fields .proj-title{
    width: 500px;
    text-align: center;
    border-radius: 10px;
    // float: left;
}

.proj-form-fields .proj-summary{
    width: 500px;
    text-align: center;
    border-radius: 10px;
}

.proj-image.extra-tall {
  height: 380px;
  width: 291px;
  margin-bottom: 13px;
  border: 18px solid;
  border-radius: 30px;
}

.proj-image.extra-tall-big {
  width: 291px;
  height: 360px;
  margin-bottom: 13px;
  border: 18px solid;
  border-radius: 30px;
}

figcaption.proj-item-figcap {
  word-wrap: break-word;
}



.thumbnail p, h3 {
  text-align: center;
}

.show-col.col-md-7.col-xs-9 {
  // width: inherit;
}

.proj-show-wrap {
  float: left;
  display: inline;
}

ul {
  // margin-right: 30px;
}


.proj-form-title {
  position: relative;
  left: 90px;
  font-weight: bold;
}

.step-index-media {
  display: flex;
  // flex-direction: column;
}

.step-index-div {
  display: flex;
  flex-direction: column;
}

.proj-form-fields input[type=submit], .proj-form-fields input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.proj-form-fields input[type=submit]:hover, .proj-form-fields input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
}

.navbar-default {
  margin-bottom: 30px;
}

.proj-show-wrap {
  position: relative;
  top: 30px;
}

.step-title {
  width: 500px
}

.section-proj-show {
  display: flex;
  flex-direction: column;
}

.div-proj-form {
  border: 2px solid white;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  background-color: silver;;
  border-radius: 40px;
  height: 790px;
}

.proj-form-title {
  text-decoration: underline;
  margin-bottom: 40px;
}

input.form-create-button {
  border-radius: 40px;
  left: 79%;
  position: relative;
}

.image-class {
  border-radius: 40px;
  padding: 15px;
}

label.project-summary {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
  display: flex;
}

label.project-title {
  margin-bottom: 40px;
  font-size: 40px;
}

.project-form {
  margin-left: 146px;
}

.proj-form-title {
  margin-right: 17%;
}

form.project-form {
  margin-right: 28%;
}
.form-btn-div {
  margin-left: -26%;
  position: relative;
  bottom: 17px;
}

.inner-div-form {
  border: 3px solid;
  border-radius: 40px;
  width: 80%;
  margin: auto;
  margin-top: 4%;
  background: linear-gradient(to right, #E55D87 0%, #5FC3E4 100%);
}

.thumbnail>img {
  border: 20px solid;
  height: 70%;
}

h3.show-title {
  margin-top: 7%;
}

p.show-description {
  margin: 4%;
}

.proj-masonry-div {
  margin-top: 15%;
}


a#nav-item-li-2 {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

a#nav-item-li-3 {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

a#nav-item-li-4 {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

a#nav-item-li-5 {
  font-size: 20px;
  position: relative;
  z-index: 1;
}

a {
  font-size: 20px;
}

.sign-up-btn {
  position: relative;
  bottom: 13px;
}

.login-btn {
  position: relative;
  bottom: 13px;
}

.index-featured {
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 122px;
  right: 18px;
  border-bottom: 10px solid;
  border-top: 10px solid;
  padding: 40px;
  font-family: 'Lobster', Georgia, Times, serif;
}

.show-col {
  display: flex;
  justify-content: center;
}

.thumbnail-proj-show {
  width: 50%;
  height: 600px;
  border-radius: 40px;
}

.thumbnail>img {
  height: 70% !important;
  width: 90%;
  border-radius: 40px;
}

// .thumbnail-proj-show.thumbnail {
//   width: auto;
//   border: 50px solid transparent;
//   border-bottom-color: red;
//   position: relative;
//   top: -50px;
// }
//
// .thumbnail-proj-show.thumbnail:after {
//   position: absolute;
//   left: -50px;
//   top: 50px;
//   border: 50px solid transparent;
//   border-top-color: red;
// }
//
// .inner-masonry-div {
//   height: auto;
//   width: 100%;
//   border: 17px solid;
//   // border-radius: 20px;
//   background: url("http://res.cloudinary.com/dllnnnotc/image/upload/v1469738989/gray_brick_variegated_background_wall_masonry_hd-wallpaper-347534_sv8gw5.jpg");
//   position: relative;
//   right: 16px;
// }

main#main-nav {
  background: linear-gradient(to right, #E7E9BB 0%, #928DAB 100%);
}

div.root-container {
  background: linear-gradient(45deg, rgba(194, 233, 221, 0.5) 1%, rgba(104, 119, 132, 0.5) 100%), linear-gradient(-45deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);

}

ul.proj-index-item-masonry {
  position: relative;
  right: 2%;
}

h1.index-featured {
  position: relative;
  bottom: 180px;
  right: 28px;
}

.search-subjects {
  animation: type 4s steps(60, end);
}

div.inner-masonry-div {
  width: 1043.98;
  margin-right: 4.2%;
}

.proj-image {
  width: 347.969px;
  height: 386.79px;
  margin-bottom: 10px;
}

.proj-figure {
  position: absolute;
  margin-bottom: 40px;
}
