
// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.proj-form-fields {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 30px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.proj-form-fields li {
    padding: 12px;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.proj-form-fields label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.proj-form-fields input[type=text],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.proj-form-fields input[type=text]:focus,
.proj-form-fields textarea:focus,
.proj-form-fields select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.proj-form-fields .field-divided{
    width: 500px;
    text-align: center;
    border-radius: 10px;
}

.proj-form-fields .field-long{
    width: 500px;
    text-align: center;
    border-radius: 10px;
}
.proj-form-fields .field-select{
    width: 500px;
    text-align: center;
}
.proj-form-fields .field-textarea{
    height: 100px;
}
.proj-form-fields input[type=submit], .proj-form-fields input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.proj-form-fields input[type=submit]:hover, .proj-form-fields input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.proj-form-fields .required{
    color:red;
}

.image-class {
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.additional-field {
  // padding: 30px;
  // background-color: sky
}

.show-description {
  font-size: 20px;
  line-height: 1.25em;
  text-indent: -1em;
  text-align: left;
  // padding: 30px;
  word-wrap: break-word;
}

#nav-item-li-2 {
  width: 110px
}

#nav-item-li-3 {
  width: 120px;
}

.navbar-default {
  display: flex;
  justify-content: flex-start;
}

.div-proj-form {
  // background-color: white;
  font-weight: bold;
}
.step-index-item {
  font-size: 40px;
  font-weight: 600px;
  display: flex;
  justify-content: flex-start;
}

.proj-image.extra-big {
  width: 300px;
  height: 300px;
  margin-bottom: 13px;
}

.proj-image.extra-tall {
  height: 350px;
  width: 300px;
  margin-bottom: 13px;
}

.proj-image.extra-tall-big {
  width: 300px;
  height: 320px;
  margin-bottom: 13px;
}

.thumbnail-proj-show {
  width: 530px;
  height: 530px;
  display: flex;
  flex-direction: column;
}

.thumbnail img {
  margin-left: 0px;
  margin-right: 700px;
  width: 520px;
  height: 500px;
}

.thumbnail p, h3 {
  text-align: center;
}

.show-col.col-md-7.col-xs-9 {
  // width: inherit;
}

.proj-show-wrap {
  float: left;
  display: inline;
}

ul {
  // margin-right: 30px;
}


.proj-form-title {
  position: relative;
  left: 90px;
  font-weight: bold;
}

.step-index-media {
  display: flex;
  // flex-direction: column;
}

.step-index-div {
  display: flex;
  flex-direction: column;
}

.proj-show-wrap {
  position: relative;
  top: 30px;
}

.step-title {
  width: 500px
}

.section-proj-show {
  display: flex;
  flex-direction: column;
}
