// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.h2-login-form {
  text-shadow: 3px 3px 0px #000;
  color: #111;
  font-family: "Lobster";
  margin: 20px auto;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}
.h3-login-form {
  text-shadow: 3px 3px 0px #000;
  color: #111;
  font-family: Helvetica, sans-serif;
  margin: 20px auto;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.proj-image

form.login-form-comp {
  background-image: url("http://feelgrafix.com/data_images/out/8/809290-free-creativity-wallpaper.jpg");
  // background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.login-form-comp >* {
  //> means children
  margin: 20px auto;
}

form.login-form-comp {
    width: 103.2%;
    height: 820px;
    position: relative;
    right: 3.2%;
    margin-top: -41px;
    background: url("http://res.cloudinary.com/dllnnnotc/image/upload/c_fit,h_825,w_1252/v1469833026/809290-free-creativity-wallpaper_czfilm.jpg");
    background-size: cover;
    position: fixed;
    top: 5;
    left: 0;
    bottom: 0;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  font-family: Helvetica, sans-serif;
  margin: 20px auto;
  width: 31%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  padding: 30px;
}

.submit-button {
  float: left;
  display: flex;
  align-self: center;
  color: #111;
  font-family: Helvetica, sans-serif;
  margin: 20px auto;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.greet-signup {
  text-align: center;
  color: #111;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.proj-div {
//   margin: 20px auto;
//      height: 476px;
//      width: 675px;
//      text-align: center;
float: left;
// margin-right: 10px;
// margin-bottom: 10px;
}


.root-greet-header {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
  text-align: center;
}

.root-background {
  width: 100%;
  height: 1500px;
  position: relative;
  bottom: 60px
}

// .root-image-text {
//   position: absolute;
//   top: 200px;
//   left: 0;
//   width: 100%;
//   text-align: center;
// }
//
// .root-image-text-span {
//   color: white;
//   font-family: 'Dancing Script', Georgia, Times, serif;
//   letter-spacing: -1px;
//   background: rgb(0, 0, 0); /* fallback color */
//   background: rgba(0, 0, 0, 0);
//   padding: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 150px;
//   font-weight: bold;
//   text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
//   letter-spacing: 4px;
//   position: relative;
//   top: 250px;
// }



.proj-index-images {
    position:relative;
    // width:350px;
    // height:300px;
    overflow:hidden;
    float:left;
    // margin-right:20px;
}
.proj-index-images figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-20px
}
.proj-index-images figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0;
}
.proj-index-images figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    box-sizing:border-box
}
.proj-index-images figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:40px;
    text-align:center
}
.proj-index-images figure p {
    display:block;
    font-family:'Lato';
    font-size:40px;
    line-height:30px;
    margin:0;
    color:#fff;
    text-align:center;
    padding: 10px;
}
.proj-index-images figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    // padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    transform:rotateY(-180deg);
    transition:all .5s
}
.proj-index-images figure img {
    backface-visibility:hidden;
    transition:all .5s;
    // border: 2px solid black;
}
.proj-index-images figure:hover img,figure.hover img {
    transform:rotateY(180deg)
}
.proj-index-images figure:hover figcaption, figure.hover figcaption {
    transform:rotateY(0)
}
.proj-image {
  border-color: hsla(0, 0%, 0%, 0.5);
// border-radius: 20px;
cursor: pointer;
padding: 0px;
display: inline-flex;
justify-content: space-around;
}

.proj-image {
  border-bottom: 100px solid white;
  // border-radius: 15%;
  // border-radius: 3px
}

.dropDown-login {
  float: right;
  position: relative;
  bottom: 60px;
}

.show-title {
  word-wrap: break-word;
  margin:0px;
}
.show-image {
  border-radius: 30px;
}

.proj-form-title {
  font-family: "Dancing Script";
  text-align: center;
  font-size: 80px;
  font-weight: bold;

}


html, div.root-container {
  // background-image: url("http://wallpapercave.com/wp/CyT83yY.jpg");
  width:100%;
  height:100%;
  background: linear-gradient(to bottom, #E1B16A 0%, #9B4F0F 50%, #C99E10 100%);
}

.form-create-button {
  position: relative;
  left: 780px;
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  width: 200px;
  height: 60px;
}

.step-index-h1 {
  padding: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  padding: 0px;
  font-weight: bold;
  // width: 1500px;
  float: left;
}
.step-index-h2 {
  padding: 30px;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  // width: 1500px;
  float: left;
}

.step-index-h3 {
  padding: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  // width: 1500px;
  float: left;
}



.step-index-description {
  font-family: 'Corben', Georgia, Times, serif;
  color: white;
  font-size: 20px;
  word-wrap: break-word;
  // width: 1500px;
}

.step-index-title {
  font-family: 'Corben', Georgia, Times, serif;
  color: white;
}

#show-desc-image {
  display: block;
  margin: 0 auto;
}

.phase-order {
  text-align: center;
  font-family: "Dancing Script";
  font-size: 70px;
  font-weight: bold;
}

.step-form-div {
  text-align: center;
}

.renewable-energy {
  text-decoration: underline;
  color: green;
  margin-left: 110px;
}

.show-description {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 10px;
  // display:flex;
  // justify-content: space-around;
}


.proj-index-item-masonry {
  position: relative;
  // right:50px;
  margin-left: auto;
  margin-right: auto;
  right: 55px;
}

.nav-signin {
  display: flex;
  justify-content: flex-start;
  position: relative;
  // right: 500px;
  bottom: 30px;
}

input.submit-button {
    height: 45px;
    width: 22%;
    border-radius: 8px;
    display: flex;
  justify-content: center;
  border: 3px solid;
}

.show-col.col-md-11.col-xs-14 {
  width: 70%;
  display: flex;
  flex-direction: column;
}
