// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.h2-login-form {
  text-shadow: 3px 3px 0px #000;
  color: #111;
  font-family: "Lobster";
  margin: 20px auto;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
}
.h3-login-form {
  text-shadow: 3px 3px 0px #000;
  color: #111;
  font-family: Helvetica, sans-serif;
  margin: 20px auto;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.login-form-comp {
  background-image: url("http://feelgrafix.com/data_images/out/8/809290-free-creativity-wallpaper.jpg");
  // background-color: transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.login-form-comp >* {
  //> means children
  margin: 20px auto;
}

.login-input {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #111;
  font-family: Helvetica, sans-serif;
  margin: 20px auto;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  padding: 30px;
}

.submit-button {
  float: left;
  display: flex;
  align-self: center;
  color: #111;
  font-family: Helvetica, sans-serif;
  margin: 20px auto;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.greet-signup {
  text-align: center;
  color: #111;
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.proj-div {
//   margin: 20px auto;
//      height: 476px;
//      width: 675px;
//      text-align: center;
float: left;
// margin-right: 10px;
// margin-bottom: 10px;
}


.root-greet-header {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 70px;
  line-height: 100px;
  text-align: center;
}

.root-background {
  width: 100%;
  height: 1500px;
  position: relative;
  bottom: 30px
}

.root-image-text {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
}

.root-image-text-span {
  color: white;
  font-family: 'Dancing Script', Georgia, Times, serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  letter-spacing: 4px;
  position: relative;
  top: 250px;
  right: 400px;
}



.proj-index-images {
    position:relative;
    // width:350px;
    // height:300px;
    overflow:hidden;
    float:left;
    // margin-right:20px;
}
.proj-index-images figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-20px
}
.proj-index-images figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0;
}
.proj-index-images figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.proj-index-images figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.proj-index-images figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.proj-index-images figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    // padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.proj-index-images figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.proj-index-images figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.proj-index-images figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

// .proj-image {
//   // width: 100%;
//   // height: 100%;
//   -webkit-box-shadow: 3px 3px 3px #777;
//      -moz-box-shadow: 3px 3px 3px #777;
//           box-shadow: 3px 3px 3px #777;
//   padding: 11px;
//   border-radius: 5px;
//   -webkit-border-radius: 5px;
//   -moz-border-radius: 5px;
//   margin-bottom: 20px;
//   // transform: rotate(45deg);
//   // display: block;
//   // transform:rotate(-45deg);
//   // transform-origin:center;
//   // max-width: 100%;
//   // height: auto;
//   height: 350px;
//   width: 350px;
//   object-fit: fill;
// }
.proj-image {
  border-color: hsla(0, 0%, 0%, 0.5);
border-radius: 20px;
cursor: pointer;
// margin-bottom: 5px;
width: 350px;
height: 350px;
// display: block;
padding: 0px;
display: inline-flex;
justify-content: space-around;
}

.proj-image {
  border: 20px solid 	#1E1E20;
  border-bottom: 100px solid #1E1E20;
  border-top: 20px solid #1E1E20;
  // border-radius: 15%;
  border-left-color: solid #1E1E20;
  border-right-color: solid #1E1E20;
}

.dropDown-login {
  position: relative;
  left: 1710px;
  bottom: 66px;
}

.show-title {
  // text-align: center;
  // display: flex;
  // font-family: "Lobster";
  // font-size: 60px;
  color: #111; font-family: 'Lobster', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
  font-color: #CD7213
}
.show-image {
  display: inline-flex;
  justify-content: space-around;
  width: 700px;
  height: 700px;
  border-radius: 10%;
}

.show-description {
  // display: flex;
  // justify-content: space-around;
 color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word;
 margin-right: 20px;
 color: white;
 font-weight: bold;
}
.proj-form-title {
  font-family: "Dancing Script";
  text-align: center;
  font-size: 80px;
  font-weight: bold;

}

// div {
//   background-color:#2B2B2B
// }

html, div.root-container {
  background-image: url("http://wallpapercave.com/wp/CyT83yY.jpg");
  width:100%;
  height:100%;
}

.form-create-button {
  position: relative;
  left: 1000px;
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  width: 200px;
  height: 60px;
}

.step-index-h1 {
  padding: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 55px;
}
.step-index-h2 {
  padding: 30px;
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 40px
}

.step-index-h3 {
  padding: 30px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 25px;
}

.step-index-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.step-index-description {
  font-family: 'Corben', Georgia, Times, serif;
  color: white;
}

.step-index-title {
  font-family: 'Corben', Georgia, Times, serif;
  color: white;
}

#show-desc-image {
  display: block;
  margin: 0 auto;
}
