// Place all the styles related to the steps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.step-form-div {
  border: 2px solid;
  width: 40%;
  height: 718px;
  margin-left: auto;
  margin-right: 33%;
  background-color: silver;
  border-radius: 40px;
}


html {
  width: 100%
}

.step-form-ul {
  list-style-type: none;
  margin-right: 6%;
  height: 425px;
}

.phase-order {
  margin-left: 27px;
}


.inp-step-title {
  margin-bottom: 7%;
  border-radius: 7px;
  width: 210px;
  border: 3px solid;
  height: 37px;
}

.step-form-title {
  margin-right: 12px;
  font-size: 20px;
}

.phase-order {
  margin-bottom: 7%;
}

.inp-step-desc {
  margin-bottom: 7%;
  border-radius: 7px;
  border: 3px solid;
  width: 1000px;
}

.step-form-desc {
  margin-right: 7px;
  font-size: 20px;
  position: relative;
  top:32%;
  left: -2.4%;
}

.step-desc-wrap {
  display: flex;
  justify-content: center;
  margin-left: 23%;
  height: 130px;
}

.add-phase-btn {
  padding: 12px;
  border-radius: 40px;
  width: 143px;
  margin-bottom: 5%;
  background: #4CB8C4;
  color: #fff;
  border: 2px solid;
}

.image-class {
  margin-bottom: 5%;
    border: 2px solid;
}


.step-create-button {
  border-radius: 40px;
  height: 50px;
  width: 160px;
  background: #4CB8C4;
  color: #fff;
    border: 2px solid;
}

.image-class {
  color:#fff;
}

.step-form {
  border: 3px solid;
  background: linear-gradient(to right, #E55D87 0%, #5FC3E4 100%);
  margin-top: 5%;
  border-radius: 40px;
  height: 91%;
  width: 93%;
  margin-left: 3.3%;
}

p.step-index-description {
  width: 100%;
}
div.proj-show-wrap {
  width: 100%;
}

div.step-index-description {
  width: 100%;
}

.show-col.col-md-7.col-xs-9 {
  width: 100%;
}

.step-thbnail-img {
  width: 400px;
  height: 300px;
}

.step-index-wrap {
  width: 67%;
}
