<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="myNavbar"></div>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.25.1/react-bootstrap.js"></script>

  <!-- <script type="text/jsx">
      var MyReactBootstrapNavbar = React.createClass({
      render: function() {
        var Navbar = ReactBootstrap.Navbar
        var NavItem = ReactBootstrap.NavItem
        var Nav = ReactBootstrap.Nav
          return (
            <div>
              <Navbar id="main-nav">
                <Nav key={1}>
                    <NavItem key={1} href="/#/projects/new">Publish</NavItem>
                    <NavItem key={2} href="/#/projects">Explore</NavItem>
                  <Nav className="pull-right">
                  </Nav>
                </Nav>
              </Navbar>
           </div>
        )
      }
  });

  React.render(<MyReactBootstrapNavbar />, document.getElementById("myNavbar"));
  </script> -->

<%= yield %>

</body>
</html>
